extends ../layout

block content
  .row
    .col-md-4.offset-md-4
      .card.mt-4
        .card-header
          | Sign in
        .card-block
          form(id="signupform" method="POST")
            .form-group
              label(for='formEmail') Email
              input(type="email", class="form-control",  name="email", id="email", placeholder="Email")
            .form-group
              label(for='formPassword') Password
              input(type="password", class="form-control", name="password", id="password", placeholder="Password")
            button(type="submit", class="btn btn-primary float-right")
              | Login

