html
  head
    title= i18n.t('forgot_password.mail.heading')
  body
    h4= i18n.t('forgot_password.mail.heading')
    br/
    = i18n.t('forgot_password.mail.link_text')
    a(href="http://"+host+"/"+locale+"/reset/"+token+"", target="_blank")= i18n.t('reset_password.title')
    h4= i18n.t('forgot_password.mail.ignore_if_not_requested')
